{% extends "index.html" %}
{% block body %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="d-flex flex-row justify-content-around w-100">
    <h1 class="mb-5" style="color:#CEBC81">Meet the Team</h1>
    </div>
<div class="d-flex flex-row justify-content-around w-100" style="background-color:#CEBC81" >
        <p> &nbsp;</p>
</div>
  <div class="d-flex flex-row justify-content-around w-100" style="background-color:#CEBC81" >
            <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
      <img src="/static/team/vanessa.jpeg" alt="vanessa" class="team-pic"/>
      <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
      <p><b>Vanessa Joy Hsu</b>
          <br>
          <br>
          Vanessa is a student in the University of Washington’s Master of Science in Data Science program and a
          systems engineer at AT&T. In her day-to-day role, she analyzes data and uses machine learning to improve
          findability and user experience for an internal data platform. Her background in software engineering will
          assist her in leading the software design and development efforts for this project.
      </p>
  </div>

    <div class="d-flex flex-row justify-content-around w-100" style="background-color:#CEBC81" >
        <p> &nbsp;</p>
    </div>

    <div class="d-flex flex-row justify-content-around w-100" style="background-color:#19181A" >
        <p> &nbsp;</p>
    </div>

    <div class="d-flex flex-row justify-content-around w-100" style="background-color:#CEBC81" >
        <p> &nbsp;</p>
    </div>
      <div class="d-flex flex-row justify-content-around w-100" style="background-color:#CEBC81">
            <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
      <img src="/static/team/liem.JPG" alt="liem" class="team-pic"/>
      <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
      <p><b>Liem Luong</b>
          <br>
          <br>
          Liem is a student in the Master of Science in Data Science at the University of Washington. He is currently
          working at Boeing, where he leads the technical development of a forecasting system. He also leads the
          project management of the annual long-term forecast – Commercial Market Outlook. His background in data
          analytic and his passion for the machine learning field will assist him in this project. He looks forward to
          learning from and sharing with his teammates.
      </p>
  </div>

    <div class="d-flex flex-row justify-content-around w-100" style="background-color:#CEBC81" >
        <p> &nbsp;</p>
    </div>

    <div class="d-flex flex-row justify-content-around w-100" style="background-color:#19181A" >
        <p> &nbsp;</p>
    </div>

    <div class="d-flex flex-row justify-content-around w-100" style="background-color:#CEBC81" >
        <p> &nbsp;</p>
    </div>

   <div class="d-flex flex-row justify-content-around w-100" style="background-color:#CEBC81" >
           <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
      <img src="/static/team/dwight.png" alt="dwight" class="team-pic"/>
              <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
      <p><b>Dwight Sablan</b>
          <br>
          <br>
          Dwight is a recent graduate of the University of Guam with a Bachelor of Science in Mathematics.
          His most recent work experience includes being a mathematics adjunct instructor and a research associate in
          biostats at the University of Guam.  As a research associate his responsibilities included data processing
          and statistical analysis for Pacific Island Partnership for Cancer Health Equity.  Some of the projects he’s
          worked on includes examining the ethnic disparities of diabetes prevalence and liver incidence on Guam,
          estimating the prevalence of obesity among children on Guam, and evaluating the effectiveness of tools to
          educate and encourage individuals about colorectal cancer screening.</p>
  </div>

    <div class="d-flex flex-row justify-content-around w-100" style="background-color:#CEBC81" >
        <p> &nbsp;</p>
    </div>

    <div class="d-flex flex-row justify-content-around w-100" style="background-color:#19181A" >
        <p> &nbsp;</p>
    </div>

    <div class="d-flex flex-row justify-content-around w-100" style="background-color:#CEBC81" >
        <p> &nbsp;</p>
    </div>
     <div class="d-flex flex-row justify-content-around w-100" style="background-color:#CEBC81" height="250px" widht="max-width">
        <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <img src="/static/team/aaliyah.png" alt="aaliyah" class="team-pic"/>
        <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <p><b>Aaliyah H&auml;nni</b>
          <br>
          <br>
          Aaliyah is a master’s student in the Master of Science in Data Science at the University of
          Washington and a Data Analyst for JH Kelly, where she leads a team of developers, testers, and analysts for
          developing modules for internally created software. It is these experiences that motivate her to take the
          team lead position, in which she will assist in communication, coordination, organization and documentation
          of this project.</p>
  </div>
        <div class="d-flex flex-row justify-content-around w-100" style="background-color:#CEBC81" >
        <p> &nbsp;</p>
    </div>

    <div class="d-flex flex-row justify-content-around w-100" style="background-color:#19181A" >
        <p> &nbsp;</p>
    </div>

{% endblock %}