<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">    
    <title>Neural Network Art</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light w-100 fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src='/static/logo.svg' alt='logo' class="logo"/></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="tool">Tool</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about">About</a>
            </li>
          </ul>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
    <div class="d-flex flex-column vh-100 justify-content-center">
      <div class="d-flex flex-row align-items-start justify-content-around">
        <!-- change this to pattern tiles -->
        <form class="toolbox p-4 rounded">
          <h2>Toolbox</h2>
          <div class="mb-3">
            <label for="pattern" class="form-label">Pattern<span id="patternHelp" class="form-text text-secondary ">Choose a pattern.</span></label>
            <div>
              <span class="tile">
                <img src="/static/patterns/checkered.png" alt="checkered" class="tile-img">
                <p class="text-secondary">checkered</p>
              </span>
              <span class="tile">
                <img src="/static/patterns/dots.png" alt="dots" class="tile-img">
                <p class="text-secondary">dots</p>
              </span>
              <span class="tile"> 
                <img src="/static/patterns/floral.jpeg" alt="floral" class="tile-img">
                <p class="text-secondary">floral</p>
              </span>
              <span class="tile">
                <img src="/static/patterns/solid.png" alt="solid" class="tile-img">
                <p class="text-secondary">solid</p>
              </span>
              <span class="tile">
                <img src="/static/patterns/stripes.jpeg" alt="stripes" class="tile-img">
                <p class="text-secondary">stripes</p>
              </span>
              <span class="tile">
                <img src="/static/patterns/zigzag.jpeg" alt="zigzag" class="tile-img">
                <p class="text-secondary">zig zag</p>
              </span>
            </div>
          </div>
          <div class="mb-3">
            <label for="item" class="form-label">Item</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
            <div id="itemHelp" class="form-text text-secondary">Choose an item.</div>
          </div>
          <button type="submit" class="btn btn-primary">Generate</button>
        </form>
          <div id="pattern-preview" class="border border-secondary shadow w-50 h-100 rounded">
            <div class="pattern-preview-header d-flex flex-row justify-content-between position-relative">
              <h2>Pattern Preview</h2>
              <button type="button" class="btn btn-secondary">Download</button>
            </div>
          </div>
      </div>
    </div>  

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  </body>
</html>