{% extends "index.html" %}
{% block body %}
<!-- About the project -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="d-flex flex-row justify-content-around w-100">
    <h1 class="mb-5" style="color:#000000">About the Project</h1>
    </div>

    <div class="d-flex flex-row justify-content-around w-100">
        <h2>Special Thanks</h2>
    </div>
        <div class="d-flex flex-row justify-content-around w-100">
            <h4> <i>Thank you to our project sponsor, Dr. Tatiana Teppoeva!</i></h4>
        </div>
        <div class="d-flex flex-row justify-content-around w-100">
            <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <p> Dr. Tatiana Teppoeva currently holds a position as a Sr. Data & Applied Scientist at Microsoft.
                Dr.Teppoeva's interest for data science applications in art
                is what inspired our team to develop AI Fashion. Dr.Teppoeva has
                been a much needed mentor throughout our project and believe our success is a tribute to
                her dedicated time and guidance.
            </p>
            <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        </div>




    <div class="d-flex flex-row justify-content-around w-100">
        <p> &nbsp;</p>
    </div>
    <div class="d-flex flex-row justify-content-around w-100">
        <h2>Background</h2>
    </div>
    <div class="d-flex flex-row justify-content-around w-100">
        <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <p>
            AI Fashion is a capstone project for the University of Washington Master of Science in Data Science program.
            The capstone project gave our team of students the opportunity to create a data science project that has
            never been before approached in this way. This capstone project was presented at the Capstone Event hosted
            by the University. To learn more about the University of Washington Master of Science in Data Science
            capstone project, visit this <a href="https://www.washington.edu/datasciencemasters/capstone-projects/">link</a>.
        </p>
        <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
    </div>



    <div class="d-flex flex-row justify-content-around w-100">
        <p> &nbsp;</p>
    </div>
    <div class="d-flex flex-row justify-content-around w-100">
        <h2>Project Deliverables</h2>
    </div>
    <div class="d-flex flex-row justify-content-around w-100">
        <p> &nbsp;</p>
    </div>
        <div class="d-flex flex-row justify-content-around w-100">
            <h3>Interactive Website</h3>
        </div>

            <div class="d-flex flex-row justify-content-around w-100">
                <p> &nbsp;</p>
                <p>Our final interactive website, <a href="tny.im/CP0Ke"> tny.im/CP0Ke</a>. The AI Fashion website
                allows you to select a randomly generated pattern and apply it to an item of your choice.</p>
                <p> &nbsp;</p>
            </div>


        <div class="d-flex flex-row justify-content-around w-100">
            <h3>Project Poster</h3>
        </div>
            <div class="d-flex flex-row justify-content-around w-100">
            <p> &nbsp;</p>
                <img src="static\other\AI_Fashion_Poster.jpg" style="max-height: 1000px">
            <p> &nbsp;</p>
            </div>
            <div class="d-flex flex-row justify-content-around w-100">
            <p> &nbsp;</p>
            </div>
            <div class="d-flex flex-row justify-content-around w-100">
            <a href="static\other\AI_Fashion_Poster.pdf">AI Fashion Poster</a>
            </div>
            <div class="d-flex flex-row justify-content-around w-100">
            <p> &nbsp;</p>
            </div>



        <div class="d-flex flex-row justify-content-around w-100">
            <h3>Project Flyer</h3>
        </div>
            <div class="d-flex flex-row justify-content-around w-100">
            <p> &nbsp;</p>
                <img src="static\other\AI_Fashion_Flyer.jpg" style="max-height: 1000px">
            <p> &nbsp;</p>
            </div>
            <div class="d-flex flex-row justify-content-around w-100">
            <p> &nbsp;</p>
            </div>
            <div class="d-flex flex-row justify-content-around w-100">
            <p> &nbsp;</p>
                <a href="static\other\AI_Fashion_Flyer.pdf">AI Fashion Flyer</a>
             <p> &nbsp;</p>
            </div>



    <div class="d-flex flex-row justify-content-around w-100">
        <p> &nbsp;</p>
    </div>
    <div class="d-flex flex-row justify-content-around w-100">
        <h3>Project Repository</h3>
    </div>
        <div class="d-flex flex-row justify-content-around w-100" >
                      <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

            <p>The project repository is hosted on GitHub, and includes the source code for both the component 1 model and the component 2 model.
                We also provide access to our entire training dataset, and final pattern results. The source code for
                this website and how to run it locally is also available.</p>
        </div>

        <div class="d-flex flex-row justify-content-around w-100">
            <a href='https://github.com/liemluong/Neural_Network_Art' >https://github.com/liemluong/Neural_Network_Art</a>
        </div>

    <div class="d-flex flex-row justify-content-around w-100" >
        <p> &nbsp;</p>
    </div>



    <div class="d-flex flex-row justify-content-around w-100">
        <p> &nbsp;</p>
    </div>
    <div class="d-flex flex-row justify-content-around w-100">
        <h2>
            Future Works
        </h2>
    </div>
         <div class="d-flex flex-row justify-content-around w-100">
             <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
             <p> Improve the model performance by using a  better-quality datasets as well as altering  the neural network layers to improve the accuracy of fake images.

            Improve the image resolution from component 1 model output is a nice feature to add for this project.

            Improve the performance of component 2 so that it can mask the graphic well for various scenarios from the above limitations.
            </p>
             <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
         </div>

    <div class="d-flex flex-row justify-content-around w-100">
        <p> &nbsp;</p>
    </div>
    <div class="d-flex flex-row justify-content-around w-100">
        <h2>References</h2>
    </div>
       <div class="d-flex flex-row justify-content-around w-100">
            <h3>
                Model Resources
            </h3>
       </div>
       <div class="d-flex flex-row justify-content-around w-100">
             <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
           <p>
                   <ul>
                        <li> DCGAN Tutorial by Nathan Inkawhich
                        <a href="https://pytorch.org/tutorials/beginner/dcgan_faces_tutorial.html">
                            https://pytorch.org/tutorials/beginner/dcgan_faces_tutorial.html</a>
                        </li>
                        <li> Code for binary segmentation of various cloths by Vladimir Iglovikov
                        <a href="https://github.com/ternaus/cloths_segmentation">
                            https://github.com/ternaus/cloths_segmentation</a>
                        </li>
                    </ul>
                    </list>
            </p>
           <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
       </div>

          <div class="d-flex flex-row justify-content-around w-100">
            <h3>
                Data Resources
            </h3>
       </div>
       <div class="d-flex flex-row justify-content-around w-100">
             <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
           <p>
                   <ul>
                        <li> Clothing-Pattern-Dataset: A Large Dataset Containing Images of Clothing Patterns by Lstearns86
                        <a href="https://github.com/lstearns86/clothing-pattern-dataset">
                            https://github.com/lstearns86/clothing-pattern-dataset</a>
                        </li>
                        <li> Fashion Fabrics Club (via web-scraping)
                        <a href="https://www.fashionfabricsclub.com"> https://www.fashionfabricsclub.com</a>
                        </li>
                        <li> Online Fabric Store (via web-scraping)
                        <a href="https://www.onlinefabricstore.com "> https://www.onlinefabricstore.com </a>
                        </li>
                    </ul>
                    </list>
            </p>
           <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
       </div>
{% endblock %}