{% extends "index.html" %}
{% block body %}
<div class="d-flex flex-column justify-content-center content-section vh-100 home">
  <div class="d-flex flex-row align-items-start justify-content-around mx-5">
    <!-- Pattern Generator Form -->
    <form class="toolbox rounded shadow h-100" method="post" id="generator-form">
      <h2 class="w-100 pl-4 py-4 rounded-top header" style="font-size: x-large;">Pattern Generator</h2>
      <div class="p-4">
        <!-- Pattern Inputs -->
        <div class="mb-3">
          <label for="pattern" class="form-label font-weight-bold mb-0">Pattern</label>
          <p id="patternHelp" class="form-text text-secondary mb-3">Choose a pattern type.</p>
          <div class="form-group d-flex flex-row flex-wrap">
            {% for p in generator_form.pattern %}
              <span class="tile">
                {{p.tag}}
                <label for={{p.id_for_label}}>
                  <input type="radio" value="{{p.choice_label}}" name="pattern">
                  <img src="static/patterns/{{p.choice_label}}.jpg" alt="{{p.choice_label}}" class="tile-img">
                </label>
                <p class="text-secondary">{{p.choice_label}}</p>
              </span>
            {% endfor %}
          </div>
        </div>
        <!-- Item Inputs -->
        <div class="mb-3">
          <label for="item" class="form-label font-weight-bold mb-0">Item</label>
          <p id="itemHelp" class="form-text text-secondary mb-3">Choose an item type.</p>
          <div class="form-group d-flex flex-row flex-wrap">
            {% for i in generator_form.item %}
              <span class="tile">
                {{i.tag}}
                <label for={{i.id_for_label}}>
                  <input type="radio" value="{{i.choice_label}}" name="item">
                  <img src="static/items/{{i.choice_label}}.png" alt="{{i.choice_label}}" class="tile-img item">
                </label>
                <p class="text-secondary">{{i.choice_label}}</p>
              </span>
            {% endfor %}
          </div>
        </div>
        <!-- Image Upload -->
        <form></form>
        <p class="text-center font-weight-bold">OR</p>
        <div class="mb-3">
          <p id="itemHelp" class="form-text text-secondary mb-3">Upload your own image (PNG/JPG).</p>
            {{ generator_form.item_image }}
        </div>
        <div class="mb-3">
          {{ generator_form.use_upload }}
          <span>Use my image</span>
        </div>
      <div>
          <button type="submit" class="btn btn-primary" style="background-color:#986A6C; border-color: #986A6C;" form="generator-form">Generate</button>
      </div>
      </div>
    </form>
    <!-- Pattern Preview Section -->
    <div id="pattern-preview" class="shadow w-50 h-100 rounded pattern-preview" >
      <div class="pattern-preview-header d-flex flex-row justify-content-between p-4 header rounded-top">
        <h2 style="font-size: x-large;">Pattern Preview</h2>
        <!-- Download Form -->
        <div class="download dropdown d-flex justify-content-end">
          <button type="button" class="btn btn-secondary" data-bs-toggle="dropdown" style="background-color:#986A6C; border-color:#986A6C">Download</button>
          <form class="dropdown-menu p-3" id="download-form" method="post" style="background-color:#ffefef">
            <div class="form-group">
              <label for="inputFileType">File Type</label>
              {{ download_form.file_type }}
            </div>
            <div class="form-group">
              <label for="inputContent">Content</label>
              {{ download_form.content }}
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputWidth">Width</label>
                {{ download_form.width }}
              </div>
              <div class="form-group col-md-6">
                <label for="inputHeight">Height</label>
                {{ download_form.height }}
              </div>
            </div>
            <button type="submit" class="btn btn-primary w-100" style="background-color:#986A6C; border-color:#986A6C">Download</button>
          </form>
        </div>
      </div>
      <!-- Image Display -->
      <div class="output">
      </div>
    </div>

  </div>
</div>  
<script type="text/javascript">
  var PATTERN = ""
  $(document).on('submit','#generator-form',function(e){
    e.preventDefault()
    if (!($("input[name=item]:checked").val() === undefined && !$('#id_use_upload').is(':checked'))) {
      var formData = new FormData();
      formData.append('item_image', $("#id_item_image").prop('files')[0]); 
      formData.append('pattern', $("input[name=pattern]:checked").val()); 
      if ($("input[name=item]:checked").val() !== undefined) {
        formData.append('item', $("input[name=item]:checked").val()); 
      }
      formData.append('use_upload', $('#id_use_upload').is(':checked'));
      $.ajax(
      {
          type:"POST",
          url: "/generator",
          contentType: false,
          processData: false,
          data: formData,
          beforeSend: function(){
            $( ".output" ).append( "<div class='spinner-border role='status'></div>" );
            $('#loadingImage').remove()
          },
          complete: function(){
            $( ".spinner-border" ).remove();
            $('#generator-form')[0].reset();
          },
          success: function( data ) 
          {
            window.PATTERN = data.pattern
            var src = "data:image/png;base64," + data.item;
            $( ".output" ).append( "<img id='loadingImage' src='" + src + "'/>" );
          }
       })
    } else {
      alert('Select an item or use your own photo.');
    }
  })

  $(document).on('submit','#download-form',function(e){
    e.preventDefault()
    $.ajax(
    {
        type:"POST",
        url: "/generator",
        data:{
          file_type: $('#id_file_type').find(":selected").text(),
          content: $('#id_content').find(":selected").text(),
          width: $("input[name=width]").val(),
          height: $("input[name=height]").val(),
          pattern: window.PATTERN,
          img: $('#loadingImage').attr('src').substring($('#loadingImage').attr('src').indexOf(',') + 1),
        },
        success: function( data ) 
        {
          var imgSrc = "data:image/png;base64," + data;
          downloadImage(imgSrc);
          $('#download-form')[0].reset();
        }
     })
  })

  async function downloadImage(imageSrc) {
    var headers = new Headers();
    headers.append('pragma', 'no-cache');
    headers.append('cache-control', 'no-cache');

    const options = {
      headers: headers,
    };
    const image = await fetch(imageSrc, options)
    const imageBlog = await image.blob()
    const imageURL = URL.createObjectURL(imageBlog)

    const link = document.createElement('a')
    link.href = imageURL
    link.download = imageSrc
    document.body.appendChild(link)
    link.click()
    document.body.removeChild(link)
  }
</script>
{% endblock %}