{% extends "index.html" %}
{% block body %}
<div class="d-flex flex-row justify-content-around w-100" >
  <p> &nbsp;</p>
</div>

<div class="d-flex flex-column vh-100 justify-content-center content-section home">
  <div class="d-flex flex-row align-items-start justify-content-around mx-5">
    <form class="toolbox rounded shadow h-100" method="post" id="generator-form">
      <h2 class="w-100 pl-4 py-4 rounded-top header" style="font-size: x-large;">Pattern Generator</h2>
      <div class="p-4">
        <div class="mb-3">
          <label for="pattern" class="form-label font-weight-bold mb-0">Pattern</label>
          <p id="patternHelp" class="form-text text-secondary mb-3">Choose a pattern type.</p>
          <div class="form-group d-flex flex-row flex-wrap">
            {% for p in generator_form.pattern %}
              <span class="tile">
                {{p.tag}}
                <label for={{p.id_for_label}}>
                  <input type="radio" value="{{p.choice_label}}" name="pattern">
                  <img src="static/patterns/{{p.choice_label}}.jpg" alt="{{p.choice_label}}" class="tile-img">
                </label>
                <p class="text-secondary">{{p.choice_label}}</p>
              </span>
            {% endfor %}
          </div>
        </div>
        <div class="mb-3">
          <label for="item" class="form-label font-weight-bold mb-0">Item</label>
          <p id="itemHelp" class="form-text text-secondary mb-3">Choose an item type.</p>
          <div class="form-group d-flex flex-row flex-wrap">
            {% for i in generator_form.item %}
              <span class="tile">
                {{i.tag}}
                <label for={{i.id_for_label}}>
                  <input type="radio" value="{{i.choice_label}}" name="item">
                  <img src="static/items/{{i.choice_label}}.png" alt="{{i.choice_label}}" class="tile-img item">
                </label>
                <p class="text-secondary">{{i.choice_label}}</p>
              </span>
            {% endfor %}
          </div>
        </div>
      <div>
          <button type="submit" class="btn btn-primary" style="background-color:#986A6C; border-color: #986A6C;">Generate</button>
      </div>
      </div>
    </form>
    <div id="pattern-preview" class="shadow w-50 h-100 rounded pattern-preview" >
      <div class="pattern-preview-header d-flex flex-row justify-content-between p-4 header rounded-top">
        <h2 style="font-size: x-large;">Pattern Preview</h2>
        <div class="download dropdown d-flex justify-content-end">
          <button type="button" class="btn btn-secondary" data-bs-toggle="dropdown" style="background-color:#986A6C; border-color:#986A6C">Download</button>
          <form class="dropdown-menu p-3" style="background-color:#ffefef">
            <div class="form-group">
              <label for="inputFileType">File Type</label>
              {{ download_form.file_type }}
            </div>
            <div class="form-group">
              <label for="inputResolution">Resolution</label>
              {{ download_form.resolution }}
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputWidth">Width</label>
                {{ download_form.width }}
              </div>
              <div class="form-group col-md-6">
                <label for="inputHeight">Height</label>
                {{ download_form.height }}
              </div>
            </div>
            <button type="submit" class="btn btn-primary w-100" style="background-color:#986A6C; border-color:#986A6C" onclick="downloadImage('/static/outputs/display_image.jpg')">Download</button>
          </form>
        </div>
      </div>
      <div class="d-flex flex-row justify-content-around w-100" >
              <p> &nbsp;</p>
      </div>
      <div class="output">
        <img id="loadingImage" src="/static/outputs/display_image.jpg"/>
      </div>
    </div>

  </div>
</div>  
<script type="text/javascript">
  $(document).on('submit','#generator-form',function(e){
    e.preventDefault()
    $.ajax(
    {
        type:"POST",
        url: "/generator",
        data:{
          pattern: $("input[name=pattern]:checked").val(),
          item: $("input[name=item]:checked").val()
        },
        success: function( data ) 
        {
          var d = new Date();
          $('#loadingImage').attr('src', $('#loadingImage').attr('src') + '?_=' + d.getMilliseconds()); 
          $('#loadingImage').css("visibility", "visible");
        }
     })
  })
</script>
{% endblock %}