.home {
    background-color: #efefef;
}

.pattern-preview{
    background-color: #faeff0;
}

.toolbox {
    background-color: #faeff0;
    width: 40%;
}

.logo {
    height: 5rem;
}


.tile-img {
    height: 4.5rem;
    width: 4.5rem;
}

.tile {
    display: inline-block;
    margin-right: 0.5rem;
    text-align: center!important;
}

.content-section {
    margin-top: 15rem;
}

.navbar, .header {
    background-color: #ECB7BF;
    font-size: larger;
}

.download.dropdown {
    position: inherit;
}

input[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
  
input[type=radio] + label > img {
    cursor: pointer;
    outline: none;
}

input[type=radio]:hover + label > img{
    outline: 4px solid #986A6C;
}
  
input[type=radio]:checked + label > img{
    outline: 4px solid #ECB7BF;
}

.team-pic {
    height: 15rem;
    width: 15rem;
}

.output {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    height: 85%;
}
.output img {
    flex-shrink: 0;
    min-width: 60%;
    min-height: 60%
}

