.home {
    background-color: #FAEDAA;
}

.pattern-preview{
    background-color: white;
}

.toolbox {
    background-color: #fcf3c7;
    width: 40%;
}

.logo {
    height: 5rem;
}

/* .pattern-preview-header {
    top: -4rem;
} */

.tile-img {
    height: 4.5rem;
    width: 4.5rem;
}

.tile {
    display: inline-block;
    margin-right: 0.5rem;
    text-align: center!important;
}

.content-section {
    margin-top: 5rem;
}

.navbar, .header {
    background-color: #AFCBFF;
}

.download.dropdown {
    position: inherit;
}
